* {
  font-family: "Courier New";
  /* background-color: brown; */
}

h3 {
  color: purple;
}
h1 {
  color: #b92b27;
}

#login{
    background-color: white;
}
#signup{
    background-color: #b92b27 ;
    color: white;
}