h1 {
  height: 100px;
  width: 100px;
  color: chocolate;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  align-items: center;
}

.container {
  width: 600px;
  height: 300px;
  background-color: rgba(156, 208, 13, 0.841);
  display: grid;
  /* grid-template-rows: 50px 50px 50px;
  grid-template-columns: 100px 100px 100px ; */

  grid-template-columns: auto;
}

#item {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  background-color: rgba(208, 29, 13, 0.841);
}
