*{
    background-color: rgb(30, 6, 6);
}

#d1 {
  background-color: aqua;
  height: 200px;
  width: 200px;
  color: blue;
  display: flex;
}

#d2 {
  background-color: rgb(55, 55, 99);
  height: 200px;
  width: 200px;
  color: aqua;
  display: flex;
}

#d3 {
  background-color: rgb(55, 99, 55);
  height: 200px;
  width: 200px;
  color: red;
  display: flex;
}

