#h {
    height: 100px;
    width: auto;
    background-color: rgba(138, 24, 199, 0.742);
    text-align: center;
    border: 2px solid black;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
  }
  
  #d1, #d2, #d3 {
    background-color: aqua;
    height: 250px;
    font-family: "Times New Roman", Times, serif;
    padding: 15px;
    width: 30%;
    border: 2px solid black;
  }
  