section {
  margin-top: 100px;
}

div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: greenyellow;
  border: 2px solid black;
  margin: 10px;
}

div:nth-of-type(2n) {
  background-color: yellow;
}
div:nth-of-type(3n) {
  background-color: rgb(96, 96, 6);
}

#one {
  transform: rotate(-90deg);
}
#two {
  transform: scale(0.5);
}
#three {
  transform: scale(1);
}
#four {
  transform: scale(1.5);
}
#five {
  transform: scale(2);
}
