h1{
    height: 100px;
    width: 100px;
    background-color: rgb(109, 76, 76);
}

#opacity{
    height: 100px;
    width: 100px;
    background-color: yellowish;
    opacity: 0.5;
    background-color: rgba(0, 0, 227, 0.5);
}