#login {
  background-color: white;
}

#signup {
  background-color: #b92b27;
}

.upvote {
    background-color: #b92b27;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}