#outer {
  height: 200px;
  width: 70px;
  border: 2px solid black;
  margin: 0 auto;
}

.container {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 50%;
}

#one {
  background-color: red;
}
#two {
  background-color: yellow;
}

#three {
  background-color: green;
}
