div{
    background-color: rgba(127, 255, 212, 0.692);
    height: 200px;
    width: 200px;
    /* transition-timing-function: steps(6, end);} */
    transition-timing-function: step-start(6);
}

div:hover{
background-color: blue;
border-radius: 50%;
}