body{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    
    color: red;
    line-height: 30px;
}
h1{
    text-decoration: underline;
}
h1,h3,p{
    text-align: center;
}

h3{
    color: black;
}

a{
    text-decoration: none;
    color: rgb(0,125,0);       
}

