.face {
  width: 400px;
  height: 400px;
  background-color: orange;
  border-radius: 50%;
}

.mouth {
  width: 200px;
  height: 75px;
  background-color: #a52a2a;
  border-radius: 0 0 50px 50px;
  position: relative;
  margin-top: 200px;
  top: 250px;
  left: 100px;
}

.lefteye,
.righteye {
  width: 75px;
  height: 75px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  left: 100px;
}

.righteye {
  left: 250px;
}

.leftpupil,
.rightpupil {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  top: 310px;
}

.leftpupil {
  left: 120px;
  background-color: rgb(255, 255, 255);
}

.rightpupil {
  left: 280px;
  background-color: rgb(255, 255, 255);
}

.nose{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 10%;
    position: absolute;
    top: 380px;
    left: 190px;
    
}