body {
  background: url("assets/SW\ \(2\).jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lpage {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.lpage h1 {
  color: rgb(254, 253, 253);
  font-size: 50px;
  margin: 0;
  margin-top: -100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  width: 600px;
  margin: auto;
  color: white;
  font-size: 30px;
  gap: 20px;
}

form:hover {
  border: 1px solid black;
}

.uname {
  margin-left: -250px;
  font-size: 30px;
}

.pass {
  margin-left: -250px;
  font-size: 30px;
}

.uip,
.pip {
  appearance: none;
  background: transparent;
  border-radius: 90px;
  border: 1px solid rgb(199, 199, 199);
  width: 300px;
  padding: 10px;
  color: white;
}
.uip:hover {
  background-color: rgb(19, 19, 17);
}
.pip:hover {
  background-color: rgb(19, 19, 17);
}

.anchors a{
  color: white;
  text-decoration: none;
  justify-content: space-between;
  font-size: 25px;
}
