h1{
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
    line-height: 0%;
    letter-spacing: 0cap;
    font-size: large;
    border: 10px solid black;
    color: wheat;
}