div {
  height: 200px;
  width: 500px;
  background-color: burlywood;

  /* border-width: 5px;
    border-style: solid;
    border-color: black; */

  /* border shorthand */
  border: 2px solid rgb(135, 91, 24);

  border-top-color: blue;

  border-top-style: dashed;

  /* border-radius: 50%; */
  border-top-right-radius: 10% 30% 50% 70%;
  padding-top: 10px;
  /* padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;  
  margin-left: 200px; */

  margin: 10px,20px,10px,200px; 

}

h1 {
  /* border-width: 2px;
  border-style: dashed;
  border-color: magenta; */
  

  /* border shorthand */
  border: 2px solid orangered;
  border-left-color: blue;
  border-left-style: dashed;
  border-radius: 25px;
  
}

button{
  border: solid 2px black;
  border-radius: 10px;
  /* padding-left: 25px;
  padding-right: 25px; */
  padding: 25px,25px;
  background-color: yellow;

}