body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/*--------------------Navbar Styling--------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.left-section {
  display: flex;
  align-items: center;
}

.menu-icon{
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-left: 8px;
}

.ytlogo {
  height: 24px;
  margin-left: 22px;
}

.in{
  font-size: 1rem;
}

.searchbar{
  margin-left: 60px;
  height: 2rem;
}



.sidebar {
  background-color: brown;
  height: calc(100vh - 56px);
  width: 56px; /* Use 72px for a collapsed sidebar */
  display: flex;
  position: fixed;
  top: 56px;
  left: 0;
}

.main {
  background-color: burlywood;
  width: 100%;
  height: 100vh;
  margin-top: 56px;
  margin-left: 56px;
  padding-left: 2rem;
  padding-top: 1rem;
  left: 1rem;
}
