body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: blue;
    height: 56px;
}

.sidebar{
    background-color: brown;
    height: 100vh;
    width: 56px;
    display: flex;
    position: fixed;

}

.main{
    background-color: burlywood;
}