body {
  margin: 0;
  padding: 0;
  font-style: normal;
  color: aliceblue;
  overflow: hidden;
  background-color: #000;

  font-family: "Rancho", serif;
  font-weight: 300;
  font-style: normal;
}

.main {
  display: flex;
}

.navbar {
  /* position: absolute; */
  background-color: transparent;
  flex: 1;
  height: 120px;
}

.side-bar {
  position: fixed;
  top: 60px;
  left: 2px;
  height: 76.7vh;
  width: 409px;
  background-color: #121212;
  border-radius: 12px;
  margin: 3px;
}

.content {
  background-color: #121212;
  height: 76.7vh;
  position: fixed;
  top: 60px;
  left: 416px;
  width: 67.2vw;
  margin: 3px;
  border-radius: 12px;
  overflow: auto;
}

.music-player {
  background-color: rgba(54, 54, 54, 0.274);
  position: fixed;
  bottom: 0;

  height: 80px;
  width: 100vw;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.lib-option {
  padding: 12px 16px 8px;
  display: flex;
  /* margin-left: 15px; */
}

.lib-option .you-lib {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 500;
}

.lib-option .you-lib i {
  margin-right: 8px;
}

.you-lib a {
  color: #b3b3b3;
  font-size: 21px;
}

.you-lib i,
a:hover {
  color: white;
}

.create-btn {
  background-color: #1f1f1f;
  padding: 16px 8px;
  border-radius: 100px;
  width: max-content;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  /* padding-top: 5px; */
  /* margin: 5px; */
  height: 33px;
  justify-content: center;
  align-content: center;
  margin-left: 115px;
}

.create-btn i,
a {
  font-size: 20px;
  margin-left: 2px;
}

.arrow-btn {
  padding: 10px;
  margin-left: 18px;
  cursor: pointer;
}

.arrow-btn i {
  font-size: 20px;
}

.arrow-btn:hover {
  border-radius: 50%;
  background-color: #1f1f1f;
}

.create-playlist {
  padding: 0px 8px;
  margin-top: 8px;
  margin-bottom: 25px;
  margin-left: 8px;
  border-radius: 1rem;
  background-color: #1f1f1f;
  height: 100px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
}

.box-text-1 {
  font-weight: 550;
  font-size: 1.8rem;
}

.box-text-2 {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-top: 8px;
}

.badge {
  border: none;
  border-radius: 100px;
  height: 32px;
  font-weight: 600;
  width: 130px;
  background-color: #fff;
  margin-top: 21px;
  cursor: pointer;
}

.badge_p {
  width: 150px;
}

.badge:hover {
  transform: scale(1.05);
}

.create-btn:hover {
  background-color: #292929;
}

.content-btn {
  border: none;
  /* height: 28px; */
  position: sticky;
  left: 20px;
  margin-left: 20px;
  margin-top: 20px;
  /* margin-right: 20px; */
  /* padding: 5px; */
  display: flex;
  right: 5px;
  margin-right: 5px;
  justify-content: flex-start;
  /* padding: 4px 12px; */
}

.content-btn .all-btn {
  border: none;
  width: 40px;
  height: 32px;
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 5px;
  cursor: pointer;
  /* background-color: #fff; */
}
.content-btn .music-btn {
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 60px;
  height: 32px;
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.content-btn .podcasts-btn {
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 80px;
  height: 32px;
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.content-btn .podcasts-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.content-btn .music-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-cantainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
  /* padding-right: 1rem; */
}

.card {
  /* background-color: rgba(255, 255, 255, 0.1); */
  width: 150px;
  border-radius: 0.75rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.card-img {
  width: 100%;
  border-radius: 0.75rem;
}

.card-name {
  margin-top: -2px;
  /* padding-top: -3px; */
  font-size: 2rem;
  font-weight: 500;
}

.card-info {
  margin-top: -25px;
  opacity: 0.9;
  font-size: 20px;
}

h2 {
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.input {
  border: 2px solid transparent;
  width: 45rem;
  height: 2em;
  /* padding-left: 1rem; */
  outline: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.5s;
  margin-top: 7px;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.navbar input {
  position: relative;
  left: 2rem;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}
._nav {
  margin-top: 6px;
  margin-left: 5rem;
}

._nav1 {
  background-color: rgba(255, 255, 255, 0.1);
  color: #b3b3b3;
  margin-left: 1rem;
}

.icon_nav {
  gap: 5px;
  /* mar */
  /* margin-left: 1rem; */
  /* padding-left: 10px; */
}

.content::-webkit-scrollbar {
  width: 0.75rem;
  /* height: 0.75px; */
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(170, 165, 165, 0.367);
  border-radius: 1rem;
}
