div {
  background-color: pink;
  padding-top: 10px;
  border: 2px solid black;
  padding-top: 50px;
  padding-left: 50px;
  /* margin-bottom: 25px; */
  /* margin: 30px ; */
  margin: 10px 20px 30px 40px; /* top right bottom left */
}

button {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: yellow;
}

button {
  padding: 40px;
  /* it will increase the size of button by 40px in all sides */
}

h1{
  margin: 0px;
}