#d{
    width: 100px;
    height: 100px;
    background-color: red;
    /* transition: 1s 1s ease-in-out; */
    margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 1s 1s ease-in-out;
   
}

#d:hover{
    /* background-color: black;
    border-radius: 50%; */
    margin-top: 500px;
    background-color: palegoldenrod;
    border-radius: 50%;
}