* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-image: url(Upscaled\ img.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
}

h1 {
  font-family: "Playfair Display", serif;
  margin-left: 80px;
}

.nb {
  background-color: transparent; /* dark background for navbar */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  padding: 20px 80px;
  position: fixed;
}

#items {
  margin-left: 500px;
  justify-content: center;
  gap: 30px;
  margin-right: 80px;
  display: flex;
}
#items a {
  color: white;
  text-decoration: none;
}
#items a:hover {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
    0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    width: 100%;
}

hr {
  border: none;
  height: 2px;
  background-color: white;
  opacity: 0.6;
  width: 80%; /* or 100%, as you prefer */
  position: fixed;
  top: 80px;          /* Vertically center */
  left: 50%;         /* Horizontally center reference point */
  transform: translate(-50%, -50%); /* Perfect center using transform */
}


.m {
  background-color: aquamarine;
}

.f {
  background-color: burlywood;
}

@media (max-width: 768px) {
  .nb {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
}