* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Poppins", sans-serif;
  background-image: url("space\ img.jpg");
  background-size: cover;          /* Makes image cover full screen */
  background-position: center;     /* Centers the image */
  background-repeat: no-repeat;    /* Prevents repeating */
  background-attachment: fixed; 

}

h1 {
  font-family: "Playfair Display", serif;
  margin-left: 80px;

}

.nb {
  background-color: palegoldenrod;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: transparent;

  
}

#items {
  margin-left: 500px;
  justify-content: center;
  gap: 20px;
  margin-left: 500px;
  display: flex;
}
#items a{
    color: white;
}

.m {
  background-color: aquamarine;
}
\

.f {
  background-color: burlywood;
}
